/*---------Activity | Area*/
/*theme*/
:root{
    /* action buttons */
    --actBtnPrimBg: #2979FF; /* use this first, if not looking good then go for Dark or Bri */
    --actBtnDarkBg: #0D47A1; /*for light backgrounds */
    --actBtnBriBg: #448AFF; /*for dark backgrounds */

    /* transactional buttons  */
    --actBtnPrimBg: #2979FF; /* use this first, if not looking good then go for Dark or Bri */
    --actBtnDarkBg: #0D47A1; /*for light backgrounds */
    --actBtnBriBg: #448AFF; /*for dark backgrounds */

    /* interface colors */
    --accentBg: #E91E63; /*red*/
    --priBg: #2979FF; /* blue */
    --priColor: #fafafa; /*white*/
    --blackBg: #212121;
    --blackColor: #212121;
    --secBg: #F44336; /* pink */
    --secColor: #fafafa; /*white*/
    --shadowMed: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
    --shadowSmall: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadowTiny: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --tranSlow: all 0.6s linear;
    --tranFast: all 0.2s linear;
    --borderBig: 24px;
    --borderSmall: 18px;
    --borderMid: 8px;
    --borderTiny: 4px;
    cursor: pointer;
}
/* GENERAL SETTINGS  */
.action_btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    height: 70%;
}

.action_btn2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: var(--borderTiny);
}

.action_btn2:hover {
    background-color: #008CBA;
    color: white;
}

.actBtn {
    box-shadow: var(--shadowSmall);
    transition: var(--tranFast);
    border-radius: var(--borderTiny);
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0;
    outline: 0
}
.actBtn:hover {
    box-shadow: var(--shadowTiny)
}
.actBtn.small {
    height: 30px;
    padding: 0 8px;
}
.actBtn.primary {
    background-color: var(--actBtnPrimBg);
    color: var(--priColor)
}
.actBtn.dark {
    background-color: var(--actBtnDarkBg);
    color: var(--priColor)
}
.actBtn.bright {
    background-color: var(--actBtnBrightBg);
    color: var(--blackColor);
}

#add-Groups{
    background: var(--priBg);
    margin-right: 2px;

}
.transactional {
    background-color: var(--priBg);
    color: var(--priColor);
    box-shadow: var(--shadowSmall);
}

.activity {
    background-color: var(--priBg);
    color: var(--priColor);
}


.activitypage{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "activityform activitylist deleverables"
    "groups grouplist deleverables";
}
.activityform{
    grid-area: activityform;
}
.activitylist{
    grid-area: activitylist;
}
.grouplist{
    grid-area: grouplist;
    text-align: center;
}
.deleverables{
    grid-area: deleverables;
}
.groups{
    grid-area: groups;
}
.deleverables-table {
    text-align: center;
    overflow-y: auto;
    height: 200px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    /*line-height: 40px; !* adjust line height to align vertically*!*/
    padding:0;
    border-radius: 50%;
}
.btn-circle:hover{
    background-color: red;
}
.fa{
    font-size: 17px;
}
.fa-custom:hover{
    cursor: pointer;
    font-size: 22px!important;
}

/*----Deliverable | area----------*/

.deleverables_head{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas:
    "del_head_area"
    "del_head_bdy"
    "planner_area";
}
/*-----OUTER GRID DELIVERABLE*/
.del_head_area{
    display: grid;
    grid-area: del_head_area;
    grid-template-areas:
    "headdel hide_deliverables";
}
#hide_deliverables{
    grid-area: hide_deliverables;
    justify-self: end;
}
.headdel{
    grid-area: headdel;
    align-self: end;
}
/*-----OUTER GRID DELIVERABLE*/
.del_head_bdy{
    display: grid;
    grid-area: del_head_bdy;
    grid-template-areas:
            "deliverable_code delever_input insertdeliverable";
}
#insertdeliverable{
    grid-area: insertdeliverable;
    margin-top: 1px;
}
.deleverable_check_code{
    grid-area: deleverable_check_code;
}
.deliverable_code{
    grid-area: deliverable_code;
    height: 75%;
}
.delever_input{
    grid-area: delever_input;
    height: 75%;
}
.delever_btn{
    grid-area: delever_btn;
}
.deleverable_check{
    grid-area: deleverable_check;
}
.planner_area{
    grid-area: planner_area;
}
.child{
    height: 100%;
}
/*-------------INDEX PAGE CSS-----------*/
.manage_buttons{
    display: flex;
    /*margin-left: 200px;*/
    grid-column-start: 12;
    grid-column-end: 12;
}


/*---------Group Insert Area----------*/
.group_input{
    grid-area: group_input;
    border-radius: 4px;
    margin: 0 auto;
    width: 198px;
    border: solid 1px #B2DFDB;
}
.groups {
    border-radius: var(--borderMid);
    right: -400px;
    position: fixed;
    visibility: hidden;
    transition: .5s all;
    box-shadow: 0 0 35px 3px rgba(0,0,0,0.5);
    height: 300px;
    
}

.card_body{
    background-color: white;
    overflow: auto;
    height: 200px;
}
.groups_ul,
.deliverable_ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.groups_ul {
    background-color: var(--priBg);
    color: var(--priColor);
    text-align: center;
    box-shadow: var(--shadowTiny);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase
}
.deliverable_ul {
    background: var(--priColor);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #bcbcbc
}

.card_header{
    background-color: #F4F7F6;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas:
    "grp_head grp_head"
    "addgrp addgrp";
    border-radius: 6px;
}
.group_head {
    border-radius: var(--borderMid);
    align-items: stretch;
    background-color: #F4F7F6;
    grid-area: grp_head;
    display: grid;
    /* align-self: center; */
    grid-template-areas:
    "h6 . . . grp_hide";
    
}
.group_h6{
    grid-area: h6;
    align-self: center;
    margin-top: 2px;
    padding-left: 18px;
}
.groups  {
    margin: 0 auto;
    /* float: right; */
    display: grid;
}
.add_group { 
    grid-area: addgrp;
    align-items: center;
    display: flex;
    margin: 0 15px;
}
#group_status {
    grid-area: grp_sts;
}

#hide_groups {
    grid-area: grp_hide;
    align-self: center;
    margin-left: 38px;
    display: grid;
 }
#groupname {
    grid-area: grp_input;
    height: 82%;
    padding: 8px;
 }

.groups .add_btn {
    width: 30px;
    height: 30px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: grp_add_btn;
    border-radius: var(--borderTiny);
    border: 1.75px solid #bcbcbc;
    box-sizing: border-box;
    transition: 0.2s all linear;
    color: var(--priBg);
}
.groups .add_btn:hover {
    background: #bcbcbc;
    color: var(--priColor)
}

#group_status {
    grid-area: grp_status;
}

.section-body{
    height: 400px;
    overflow: auto;
}
.deleverables{
    border-radius: 10px;
    right: -400px;
    position: fixed;
    visibility: hidden;
    transition: .5s all;
    box-shadow: var(--shadow);
    width: 25%;
    /*transition: width 2s;*/

}
.deleverables.d-block{
    right: 25px;
    visibility: visible;
}

.groups.g-block{
    right: 25px;
    visibility: visible;
}
#hide_groups{
    float: right;
}
#activity_btn{
    display: flex;
    float: right;
}
    /*New Custom Css*/
.organization {
    width: 300px;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer
}
.organization:hover .icons,
.caption:hover .icons {
    /*display: grid!important*/
    display: inline-flex;
    width: 25%;
}
.icons{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.icons li{
    list-style: none;
    filter: brightness(110%);
    font-size: 10px;


}
.sidebar-nav .metismenu ul a {
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
     color: #17191c;
     font-size: 15px;
     display:block;
     position: relative;
     padding: 13px 15px;
     outline-width: 0;
}
.custom-card{
    margin-bottom: 5px;
    width: 19% !important;
    /*height: 200px;*/
    margin-left: 6px;
    /*height: 150px;*/
}
.org-heading{
    background-color: lightcyan;

    font-size: 24px;

    padding: 0px 10px;

    border-radius: 8px;
}

/*Scroll*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: lightblue;
    border: 2px solid #333;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: lightblue;
    border: 2px solid grey;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:active {
    background: lightblue;
    border: 2px solid grey;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: white;
    border: 2px solid white;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: white;
}
::-webkit-scrollbar-track:active {
    background: white;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.org {
    display: flex;
    flex-direction: column;
}
.mycards {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}
.mycard {
    background: #f9f9f9;
    min-height: 190px;
    margin-bottom: 10px;
    border: 2px solid #f9f9f9;
}
.mycard .card-header {
    background: #424242;
}
.mycard .card-header a {
    color: #fafafa;
    display: inline-flex;
    align-items: center;
  }
.team-row{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    grid-gap: 10px
}
.team-row a{
color: #444;
}

span{
    font-size:15px;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#f4f7f6;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}
.block-header .fa{color:#007bff;}
/*.fa{*/
    /*color:#fff;*/
    /*font-family: fontawesome;*/
/*}*/
.cstm-card{box-shadow: none !important;}
#accordion .card-header a{display:block;}
.chosen-container{width:100% !important;}
.chosen-container-single .chosen-single{height: 35px !important;}
.chosen-container-single .chosen-single span{line-height: 35px !important;}
.add-task{padding:20px;background:#fff;margin-bottom: 30px;}
#todo-list li{padding: 5px 0;}
.card-height{max-height:500px; overflow-y: scroll;margin-bottom: -8px!important;padding:10px;}
.br-0{border-radius: 0 !important;}
.strike {
    text-decoration: line-through;
}
#todo-list{list-style: none;padding:0;}
.fancy-label{
    position: relative;
    cursor: pointer;
    color: #666;
    margin-bottom: 0;
    }

.fancy-label input[type="checkbox"], input[type="radio"]{
    position: absolute;
    right: 9000px;
}
.select-item-done{border:none;}
/*Check box*/
.fancy-label input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size:18px;
}

.fancy-label input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #f68c1f;

}
.other-timeline-item.other {
    border-color: #01b2c6;
}
.other-timeline-item:after {
    width: 10px;
    height: 15px;
    top: 1em;
    position: absolute;
    right: -6px;
    border-radius: 10px;
    content: '';
    background: #fff;
    border: 2px solid;
}
.other-timeline-item{
    padding: 3em 2em 2em;
    position: relative;
    border-right: 1px solid;
   }
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}